<!DOCTYPE html>
<html>
<head>
<title>magazinul online</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="stylesheet.css">
<script src="https://checkout.stripe.com/checkout.js" defer></script>
<script>
  var stripePublicKey= '<%= stripePublicKey %>'
</script>
<script src="myscript.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body class="w3-content" style="max-width:1200px">

  
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <img src="images/logo.jpg" style="width:100%">
  </div>
  <div class="w3-padding-24 w3-large w3-text-grey" style="font-weight:bold">
    <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align">
      Fructe <i class="fa fa-caret-down"></i>
    </a>
    <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
      <a href="#" class="w3-bar-item w3-button">Avocado</a>
      <a href="#" class="w3-bar-item w3-button">Banane</a>
      <a href="#" class="w3-bar-item w3-button">Mere</a>
      <a href="#" class="w3-bar-item w3-button">Struguri</a>
    </div>
    <a onclick="myAccFunc2()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align">
      Legume <i class="fa fa-caret-down"></i>
    </a>
    <div id="demoAcc2" class="w3-bar-block w3-hide w3-padding-large w3-medium">
      <a href="#" class="w3-bar-item w3-button">Cartofi</a>
      <a href="#" class="w3-bar-item w3-button ">Rosii</a>
    </div>
    <a href="#" class="w3-bar-item w3-button">Promotii</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item">magazinul online</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-display-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="inchide meniul" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>

  
  </header>
  
  <!-- Product grid -->
  <div class="w3-row w3-padding-16 w3-margin">
    <% items.produse.forEach(function(item){ %>  
    <div class="w3-col l3 s6" data-item-id="<%= item.id %>">
      <div class="w3-display-container">   
        <img class="shop-item-image" src="images/<%= item.imgName %>" style="width:100%">
        <span class="shop-item-title"><%= item.name %></span>
        <span class="shop-item-details">
            <b class="shop-item-price"><%= item.price / 10 %></b>
            <a class="w3-display-middle w3-display-hover w3-button w3-black shop-item-button" type="button" href="#basket">cumpara <i class="fa fa-shopping-cart"></i></a>
        </span>    
      </div>   
     </div>
     <% }) %>
  </div>
  <div id="basket"><br><br></div>
  <!-- cosul de cumparaturi -->
  <div class="w3-container w3-pale-red w3-padding-16 w3-animate-opacity" id="cos">
    <h2>Cosul de cumparaturi</h2>
    <section>
      <div class="cart-row">
          <span class="cart-item cart-header cart-column">produs</span>
          <span class="cart-price cart-header cart-column">pret</span>
          <span class="cart-quantity cart-header cart-column">cantitate</span>
      </div>
      <div class="cart-items">
      </div>
      <div class="cart-total">
          <strong class="cart-total-title">Total</strong>
          <span class="cart-total-price">$0</span>
      </div>
      <button class="btn btn-primary btn-purchase" type="button">plateste</button>
    </section>
  </div>

  <!-- Footer -->
  <footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
    <div class="w3-row-padding">
      <div class="w3-col s6">
        <h3>Contact</h3>
        <p>Ai o intrebare? Foloseste formularul de mai jos.</p>
        <form>
          <p><input class="w3-input w3-border" type="text" placeholder="Nume" name="Name" required></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Email" name="Email" required></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Subiect" name="Subject" required></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Mesaj" name="Message" required></p>
          <button type="submit" class="w3-button w3-block w3-black">Trimite</button>
        </form>
      </div>


      <div class="w3-col s6">
        <h3>magazinul online</h3><br>
        <p><i class="fa fa-fw fa-map-marker" style="color:red"></i>Oxford, UK</p>
        <p><i class="fa fa-fw fa-phone" style="color:red"></i>+4503425362</p>
        <p><i class="fa fa-fw fa-envelope" style="color:red"></i> magazinulonline@mail.com</p>
        <h3>Acceptam plati prin</h3>
        <p><i class="fa fa-fw fa fa-cc-paypal" style="color:red"></i> Pay pal</p>
        <p><i class="fa fa-fw fa-credit-card" style="color:red"></i>Card de credit</p>
      </div>
    </div>
  </footer>
</div>

  
<img src="images/sageata.png" onclick="topFunction()" id="myBtn" title="mergi sus"></img>


</body>
</html>
